<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title></title>
  <style>
    .container {
      max-width: 960px;
    }

    .pricing-header {
      max-width: 700px;
    }

    .card-deck .card {
      min-width: 220px;
    }
    .btn{
      min-height: 40px;
    }

    .border-top {
      border-top: 1px solid #e5e5e5;
    }

    .border-bottom {
      border-bottom: 1px solid #e5e5e5;
    }

    .box-shadow {
      box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
    }

    .btn-lg {
      padding: 10px 20px;
      font-size: 20px;
      border-radius: 10px;
      width: 100%;
      margin-top: 50px;
      margin-bottom: 20px;
      min-width: 250px;
      font-family: 'Stroke(RUS BY LYAJKA)';
      font-size: 32px;
    }
  </style>

</head>
<body>
  <!-- <button type="button" class="btn btn-primary" style="margin-top: 150px; margin-left: 200px" routerLink="/word-list-action">Создать список</button>
   <!-- <div class="row">
      <div class="w col-1"></div>
      <div class="word-list">
        <ul *ngFor="let list of wordLists">
          <li style="list-style-type: none;">
            <div class="wrap">
              <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title mat-line>{{list.name}}</mat-card-title>
                  <mat-card-subtitle mat-line>Дата создания: {{list.dateTimeCreate}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p mat-line>
                    {{list.description}}
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>Редактировать список</button>
                  <button mat-button>Удалить список</button>
                </mat-card-actions>
              </mat-card>
            </div>
          </li>
        </ul> -->
  <div class="container">
    <button type="button" class="btn btn-outline-light btn-lg btn-block" (click)="navigateAdd()">Создать список</button>
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 box-shadow" *ngFor="let list of wordLists">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">{{list.name}}</h4>
        </div>
        <img class="card-img-top" src="../../../../wwwroot/images/sample-1.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">{{list.description}}</p>
          <h6 class="card-subtitle mb-2 text-muted">Дата создания: {{list.dateTimeCreate}}</h6>

        </div>
        <div class="card-footer bg-transparent border-success">
          <button mat-button class="card-link" (click)="navigateUpdate(list.id)">Редактировать список</button>
          <button mat-button class="card-link" (click)="deleteTrainingList(list.id)">Удалить список</button>
          <!--<a class="card-link">Редактировать</a>
          <a class="card-link" (click)="deleteTrainingList(list.id)">Удалить</a>-->
        </div>
      </div>
    </div>
  </div>



  <!--
      <div class="row">
      <div class="col col-sm-3" *ngFor="let list of wordLists">
        <div class="card-deck">
          <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="../../../../wwwroot/images/sample-1.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{list.name}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">Дата создания: {{list.dateTimeCreate}}</h6>
              <p class="card-text">{{list.description}}</p>
              <a href="#" class="card-link">Редактировать</a>
              <a href="#" class="card-link">Удалить</a>
            </div>
          </div>
        </div>
      </div>
    </div>

      Шикарный пример адаптивности:
          <div class="card-deck">
      <div class="card mb-4">
        <img class="card-img-top img-fluid" src="//placehold.it/500x280" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">1 Card title</h4>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card mb-4">
        <img class="card-img-top img-fluid" src="//placehold.it/500x280" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">2 Card title</h4>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="w-100 d-none d-sm-block d-md-none">
  </div>
  <div class="card mb-4">
    <img class="card-img-top img-fluid" src="//placehold.it/500x280" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">3 Card title</h4>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="w-100 d-none d-md-block d-lg-none"></div>
  <div class="card mb-4">
    <img class="card-img-top img-fluid" src="//placehold.it/500x280" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">4 Card title</h4>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="w-100 d-none d-sm-block d-md-none"></div>
  <div class="w-100 d-none d-lg-block d-xl-none"></div>
  <div class="card mb-4">
    <img class="card-img-top img-fluid" src="//placehold.it/500x280" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">5 Card title</h4>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="w-100 d-none d-xl-block"></div>
  <div class="card mb-4">
    <img class="card-img-top img-fluid" src="//placehold.it/500x300" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">6 Card title</h4>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="w-100 d-none d-sm-block d-md-none"></div>
  <div class="w-100 d-none d-md-block d-lg-none"></div>
  <div class="card mb-4">
    <img class="card-img-top img-fluid" src="//placehold.it/500x270" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">7 Card title</h4>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card mb-4">
    <img class="card-img-top img-fluid" src="//placehold.it/500x300" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">8 Card title</h4>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="w-100 d-none d-sm-block d-md-none"></div>
  <div class="w-100 d-none d-lg-block d-xl-none"></div>
  <div class="card mb-4">
    <img class="card-img-top img-fluid" src="//placehold.it/500x270" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="w-100 d-none d-md-block d-lg-none"></div>
  <div class="card mb-4">
    <img class="card-img-top img-fluid" src="//placehold.it/500x270" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">10 Card title</h4>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  </div>
      КОНЕЦ ПРИМЕРА


  <div *ngFor="let list of wordLists">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title mat-line>{{list.name}}</mat-card-title>
        <mat-card-subtitle mat-line>Дата создания: {{list.dateTimeCreate}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p mat-line>
          {{list.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Редактировать список</button>
        <button mat-button>Удалить список</button>
      </mat-card-actions>
    </mat-card>
    </div>-->
</body>
</html>
