<!DOCTYPE html>
<html>
<head>
  <base href="@(Url.Content("~/"))" />
  <title>@ViewData["Title"]</title>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  @Html.Raw(ViewData["Meta"])
  @Html.Raw(ViewData["Links"])

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/css/flag-icon.min.css" />
  <!-- <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" /> -->

  @Html.Raw(ViewData["Styles"])
  <style>
    body {
      background-image: url(/images/Фон-01.svg);
      background-repeat: no-repeat;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      -ms-background-size: cover;
    }
    /* Sticky footer styles
-------------------------------------------------- */
    html {
      position: relative;
      min-height: 100%;
    }

    body {
      /* Margin bottom by footer height */
      margin-bottom: 60px;
    }

    .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      /* Set the fixed height of the footer here */
      height: 60px;
      background-color: #f5f5f5;
    }


    /* Custom page CSS
-------------------------------------------------- */
    /* Not required for template or sticky footer method. */

    body > .container {
      padding: 60px 15px 0;
    }

    .container .text-muted {
      margin: 20px 0;
    }

    .footer > .container {
      padding-right: 15px;
      padding-left: 15px;
    }
  </style>
</head>
<body>
  @RenderBody()

  <!-- Here we're passing down any data to be used by grabbed and parsed by Angular -->
  @Html.Raw(ViewData["TransferData"])
  @Html.Raw(ViewData["Scripts"])

  @RenderSection("scripts", required: false)
  <footer class="footer">
    <div class="container">
      <p class="text-muted">Я сижу в Layout.</p>
    </div>
  </footer>
</body>

</html>
