<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  
  <title></title>
  <style>
    .container {
      padding-top: 90px;
    }

    .uploader {
      background-color: white;
    }

      .uploader .text-center {
        text-align: center;
        font-family: 'Stroke';
        color: black;
        font-weight: bold;
      }

    .text-center {
      text-align: center;
      font-family: 'Stroke';
      color: white;
      font-weight: bold;
    }

    .forms {
      font-family: 'Stroke';
      color: white;
      font-size: 20px;
      font-weight: bold;
    }

    .btn {
      font-family: 'Stroke';
      font-weight: bold;
    }
    
  </style>
</head>
<body>

  <div class="container">
    <div class="d-flex justify-content-between">
      <div class="p-2 bd-highlight">
        <button type="button" class="btn btn btn-outline-light btn-lg" [routerLink]="['/dictionary']"><i class="fas fa-angle-double-left"></i></button>
      </div>
      <div class="p-2 bd-highlight">
        <div class="text-center"><h1>Добавление слова</h1></div>
      </div>
      <div class="p-2 bd-highlight"></div>
    </div>

    <form [formGroup]="wordAddListForm">
      <div class="row">
        <div class="col-sm-4 forms uploader">
          <div class="text-center"><h2>Ассоциация</h2></div>

        </div>

        <div class="col-sm-4 forms">

          <label for="Original">Оригинал</label>
          <input type="text" formControlName="original" class="form-control" name="original">

          <mat-form-field>
            <mat-select formControlName="selectedPartOfSpeech" class="form-control" name="selectedPartOfSpeech">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let pOfSpeech of partsOfSpeech" [value]="pOfSpeech">{{pOfSpeech}}</mat-option>
            </mat-select>
          </mat-form-field>

          <!--  <mat-form-field>
        <mat-select id="partOfSpeech" placeholder="Часть речи">
          <mat-option *ngFor="let partOfSpeech of partsOfSpeech" [value]="partOfSpeech">{{partOfSpeech}}</mat-option>
        </mat-select>
      </mat-form-field>-->
          <!--Работающий event-->
          <!--     <label for="partOfSpeech">Часть речи: </label>
      <select (change)="selectChangeHandler($event)" id="partOfSpeech">
        <option disabled value="null">выберите</option>
        <option *ngFor="let partOfSpeech of partsOfSpeech" [value]="partOfSpeech">{{partOfSpeech}}</option>
      </select>
      <!--Конец eventa-->
          <!--      <div formGroupName="Parts" class="form-group forms">
        <mat-form-field>
          <mat-select for="partOfSpeech" placeholder="Часть речи">
            <mat-option formControlName="partOfSpeech" *ngFor="let partOfSpeech of partsOfSpeech" [value]="partOfSpeech">{{partOfSpeech}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div> -->

        </div>

        <div class="col-sm-4 forms">

          <label for="Translate">Перевод</label>
          <input type="text" formControlName="translation" class="form-control" name="translation">

        </div>
      </div>
      <!-- Если подключен event для обычного select, то юзать это: <div *ngIf="selectedPartOfSpeech == 'глагол'" class="row">-->

      <div class="row" *ngIf="wordAddListForm.get('selectedPartOfSpeech').value == 'глагол'">
        <div class="col-sm-4 forms"></div>
        <div class="col-sm-4 forms">

          <label for="form2">Вторая форма глагола</label>
          <input type="text" formControlName="ndFormOfVerb" class="form-control" name="ndFormOfVerb">

        </div>
        <div class="col-sm-4 forms">

          <label for="form3">Третья форма глагола</label>
          <input type="text" formControlName="rdFormOfVerb" class="form-control" name="rdFormOfVerb">

        </div>
      </div>

      <div class="row">
        <div class="col-sm-4 forms"></div>
        <div class="col-sm-4 forms">

          <label for="synonym">Синоним</label>
          <input type="text" formControlName="synonym" class="form-control" name="synonym">

        </div>
        <div class="col-sm-4 forms">

          <label for="antonym">Антоним</label>
          <input type="text" formControlName="antonym" class="form-control" name="antonym">

        </div>


        <div class="col-sm-6 forms">

          <label for="ruscomment">Описание на русском</label>
          <textarea formControlName="rusDescription" class="form-control" rows="5" name="rusDescription"></textarea>

        </div>
        <div class="col-sm-6 forms">

          <label for="origcomment">Описание на языке оригинала</label>
          <textarea formControlName="origDescription" class="form-control" rows="5" name="origDescription"></textarea>

        </div>
        <div class="col-sm-12 forms">

          <label for="example">Примеры использования</label>
          <textarea formControlName="examples" class="form-control" rows="5" name="examples"></textarea>

        </div>
      </div>
    </form>
      <div class="d-flex flex-row-reverse bd-highlight">
        <div class="p-2 bd-highlight">
          <button type="button" class="btn btn btn-outline-light btn-lg" [routerLink]="['/dictionary']"><i class="fas fa-angle-double-left"></i></button>
          <button type="button" class="btn btn btn-outline-light btn-lg" (click)="wordAdd()">Добавить слово <i class="far fa-save"></i></button>
        </div>
      </div>

</div>
</body>
</html>
