html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 10vh;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10vh; /*высота футера будет зависеть от высоты экрана*/
}
  /* чтобы весь футер заливался */
  footer .row {
    background-color: #193441;
  }
