<!-- Remove this if you want to remove Server-side rendering -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
@Html.Raw(ViewData["SpaHtml"])
<!-- if you only want Client-side rendering uncomment this -->
<!-- <app-root></app-root> -->
<!-- Latest compiled and minified CSS -->

<link href="~/css/indigo-pink.css" rel="stylesheet">
<script src="~/dist/vendor.js" asp-append-version="true"></script>
@section scripts {
  <!-- Our webpack bundle -->
  <script src="~/dist/main-client.js" asp-append-version="true"></script>

}
