<!--<h1>{{ title }}</h1>

<blockquote>
  <strong>Enjoy the latest features from .NET Core & Angular 5.0!</strong>
  <br> For more info check the repo here: <a href="https://github.com/MarkPieszak/aspnetcore-angular2-universal">AspNetCore-Angular2-Universal repo</a>
  <br><br>
</blockquote>

<div class="row">
  <div class="col-lg-6">
    <h2>{{ 'HOME_FEATURE_LIST_TITLE' | translate }} </h2>
    <ul>
      <li>ASP.NET Core 2.0 :: ( Visual Studio 2017 )</li>
      <li>
        Angular 5.* front-end UI framework
        <ul>
          <li>Angular **platform-server** (aka: Universal) - server-side rendering for SEO, deep-linking, and
            incredible performance.</li>
          <!--<li>HMR State Management - Don't lose your applications state during HMR!</li>-->
          <!--<li>AoT (Ahead-of-time) production compilation for even faster Prod builds.</li>
        </ul>
      </li>
      <li>
        The latest TypeScript 2.* features
      </li>
      <li>
        Webpack
        <ul>
          <li>Hot Module Reloading/Replacement for an amazing development experience.</li>
          <li>Tree-shaking</li>
        </ul>
      </li>

      <li>Bootstrap (ngx-bootstrap) : Bootstrap capable of being rendered even on the server.</li>
      <li>Unit testing via karma & jasmine.</li>
    </ul>

  </div>

  <div class="col-lg-6">
    <h2>{{ 'HOME_ISSUES_TITLE' | translate }}</h2>

    <ul>
      <li><strong>Issues with this Starter?</strong> <br>Please post an issue here: <a href="https://github.com/MarkPieszak/aspnetcore-angular2-universal">AspNetCore-Angular2-Universal repo</a><br><br></li>-->
      <!--<li><strong>Issues with <u>Universal</u> itself?</strong> <br>Please post an issue here: <a href="https://github.com/angular/universal">Angular Universal repo</a></li>-->
    <!--</ul>
  </div>

</div>-->

<!--<div class="row">
  <div class="col-lg-12">

    <h2> {{ 'SWITCH_LANGUAGE' | translate }}</h2>

    <button class="btn btn-default" (click)="setLanguage('en')">
        <span class="flag-icon flag-icon-us"></span>  {{ 'ENGLISH' | translate }}
    </button>

    <button class="btn btn-default" (click)="setLanguage('no')">
        <span class="flag-icon flag-icon-no"></span> {{ 'NORWEGIAN' | translate }}
    </button>

  </div>
</div>-->
