<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

  <form [formGroup]="wordListForm">
    <div style="background-color:white; margin-top: 200px; margin-left: 200px;">
      <div>
        <label>
          Название списка:
          <input type="text" formControlName="wordListName" class="form-control" name="wordListName">
        </label>
      </div>
      <div>
        <label>
          Описание списка:
          <input type="text" formControlName="wordListDescription" class="form-control" style="width:500px" name="wordListDescription">
        </label>
      </div>
    </div>
  </form>
    <label style="background-color: white; margin-left: 200px;">
      Добавьте слова в список
    </label>
    <div style="background-color: white; width:800px; margin-left: 200px" >
      <mat-selection-list #list [(ngModel)]="selectedOptions" >
        <mat-list-option *ngFor="let word of words" [value]="word.en" >
          {{word.en}}
        </mat-list-option>
      </mat-selection-list>
    </div>
 

  <!--<p>
    Options selected: {{selectedWords.selectedOptions.selected.length}}
  </p>-->
  <div *ngIf="mode == 'add'; then Add else Save"></div>
  <ng-template #Add>
    <div class="col-md-1 col-md-offset-10">
      <button type="button" class="btn btn-primary" style="margin-left: 200px" (click)="createWordList()">Создать</button>
    </div>
  </ng-template>
  <ng-template #Save>
    <div class="col-md-1 col-md-offset-10">
      <button type="submit" class="btn btn-success" style="margin-top: 5px" (click)="updateWordList()">Сохранить</button>
    </div>
  </ng-template>


</body>
</html>
