@font-face {
  font-family: 'Stroke';
  src: url(/fonts/11872.otf);
  font-weight: bold;
}

body {
  background: #333; /* Цвет фона */
}

.navbar-brand {
  float: none;
  overflow: hidden;
  display: block;
  position: relative;
  left: -20px;
  width: 250px;
  height: 71px;
  background: url(/images/LogoForBootstrap.svg);
  background-size: 250px 71px;
}

.nav-item {
  font-family: Stroke;
  font-size: 36px;
  color: white;
}


