
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
</head>

<body>
  <!--<nav class="navbar navbar-expand m-auto navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <image src="../../../../wwwroot/assets/LogoForBootstrap.svg" width="280" height="81" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      вот тут начинай код
  <nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <a class="navbar-brand" href="#">
      <img src="../../../../wwwroot/images/LogoForBootstrap.png" width="280" height="81" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse justify-content-center order-2" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li [routerLinkActive]="['link-active']" (click)="collapseMenu()" class="nav-item">
          <a class="nav-link" [routerLink]="['/dictionary']">Dictionary<span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>-->

  <header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Главная<span class="sr-only">(current)</span></a>
          </li>
          <li [routerLinkActive]="['link-active']" class="nav-item">
            <a class="nav-link" [routerLink]="['/dictionary']">Мой словарь</a>
          </li>
          <li [routerLinkActive]="['link-active']" class="nav-item">
            <a class="nav-link" [routerLink]="['/word-list']">Списки слов</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <!--<div class="nav-item active col-lg-4">
    <a class="nav-link" href="#">Home</a>
  </div>
   <div class="nav-item col-lg-4">
    <a class="nav-link" href="#">Link</a>
  </div>


  <div [routerLinkActive]="['link-active']" (click)="collapseMenu()" class="nav-item col-lg-4">
    <a class="nav-link" [routerLink]="['/dictionary']">Dictionary<span class="sr-only">(current)</span></a>
  </div>-->
</body>
</html>











<!--<div class='main-nav'>
  <div class='navbar'>
    <div class='navbar-header'>
      <div class='navbar-brand'>
        <button type='button' class='navbar-toggle' (click)="collapseNavbar()">
          <span class='sr-only'>Toggle navigation</span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
        </button>
        <a [routerLink]="['/home']" class='navbar-link'>Angular 5 Universal & ASP.NET Core</a>
      </div>
    </div>
    <div class='clearfix'></div>
    <div class='navbar-collapse {{collapse}}'>
      <ul class='nav navbar-nav'>
        <li [routerLinkActive]="['link-active']" (click)="collapseMenu()">
          <a [routerLink]="['/home']">
            <span class='glyphicon glyphicon-home'></span> {{ 'HOME' | translate }}
          </a>
        </li>
        <li [routerLinkActive]="['link-active']" (click)="collapseMenu()">
          <a [routerLink]="['/users']">
            <span class='glyphicon glyphicon-user'></span> test
          </a>
        </li>
        <li [routerLinkActive]="['link-active']" (click)="collapseMenu()">
          <a [routerLink]="['/counter']">
            <span class='glyphicon glyphicon-education'></span> {{ 'COUNTER' | translate }}
          </a>
        </li>
        <li [routerLinkActive]="['link-active']" (click)="collapseMenu()">
          <a [routerLink]="['/users']">
            <span class='glyphicon glyphicon-user'></span> Rest API Demo
          </a>
        </li>
        <li [routerLinkActive]="['link-active']" (click)="collapseMenu()">
          <a [routerLink]="['/ngx-bootstrap']">
            <span class='glyphicon glyphicon-th-large'></span> ngx-Bootstrap demo
          </a>
        </li>
        <li [routerLinkActive]="['link-active']" (click)="collapseMenu()">
          <a [routerLink]="['/lazy']">
            <span class='glyphicon glyphicon-star-empty'></span> Lazy-loaded demo
          </a>
        </li>-->
<!-- <li [routerLinkActive]="['link-active']" (click)="collapseMenu()">
  <a [routerLink]="['/chat']">
    <span class='glyphicon glyphicon-comment'></span> Chat
  </a>
</li> -->
<!--</ul>
    </div>
  </div>
</div>-->
