<!--<div class="col-sm-3">-->
<div>
  <app-nav-menu></app-nav-menu>
</div>

<!--</div>-->
<!--class="col-sm-9 body-content"-->
<div>
  <router-outlet></router-outlet>
</div>

<div>
  <app-footer></app-footer>
</div>

