<!DOCTYPE html>
<html>
<head>
  <style>
    .spinner-container {
      position: fixed;
      z-index: 999;
      height: 2em;
      width: 2em;
      overflow: show;
      margin: auto;
      top: 200px;
      left: 0;
      bottom: 0;
      right: 0;
    }

      .spinner-container:before {
        content: '';
        display: block;
        position: fixed;
        top: 200px;
        left: 0;
        width: 100%;
        height: 100%;
        /*background-color: rgba(0,0,0,0.3);*/
      }
    .container-fluid{
      padding-top: 50px;
    }
  </style>
</head>


<body>
  <div class="container-fluid">
    <div class="table row">
      <div class="w col-1"></div>
      <div class="col-10">

        <ul class="nav d-flex bg-light">
          <li class="mr-auto p-2 align-self-center nav-item">
            <mat-form-field class="nav-link">
              <input matInput #inputWord>
              <mat-placeholder class="placeholder">Найти слово</mat-placeholder>
            </mat-form-field>
          </li>

          <li class="p-2 nav-item form-inline my-2 my-md-0">
            <button type="button" class="btn btn-secondary" [routerLink]="['/word-add']">Добавить слово</button>
          </li>
          <li class="p-2 pr-4 nav-item form-inline my-2 my-md-0">
            <button type="button" class="btn btn-secondary">Удалить выбранное</button>
          </li>
        </ul>


        <div class="spinner-container" *ngIf="dataSource.loading$ | async" style="margin-top:80px">
          <mat-progress-spinner mode="indeterminate">Loading...</mat-progress-spinner>
        </div>
        <mat-table class="word-table mat-elevation-z8"
                   matSort matSortActive="en" matSortDirection="asc" matSortDisableClear
                   [dataSource]="dataSource">
          <ng-container matColumnDef="en">
            <mat-header-cell *matHeaderCellDef mat-sort-header><b>Оригинал</b> </mat-header-cell>
            <mat-cell *matCellDef="let word"> {{word.en}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="ru">
            <mat-header-cell *matHeaderCellDef><b>Перевод</b> </mat-header-cell>
            <mat-cell *matCellDef="let word"> {{word.ru}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="partOfSpeech">
            <mat-header-cell *matHeaderCellDef><b>Часть речи</b> </mat-header-cell>
            <mat-cell *matCellDef="let word"> {{word.partOfSpeech}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>
      <div class="w col-1"></div>
    </div>
  </div>
</body>
</html>
