.table {
  margin-top: 50px;
}

.w {
  background-color: transparent;
}

body {
  background-color: transparent;
}

.sidebar {
  position: fixed;
  height: 100vh;
}

md-input-container label {
  color: red;
}

.placeholder {
  color: #000000;
}
